.login-box{
    max-width: 800px;
    float:none;
    margin: 150px auto;
}

.login-left{
  background: red;
  padding: 30 px;
}

.login-right{
  background: green;
  padding: 30px;
}


.form-control{
  background-color: transparent !important;
}

